html,body{
	 width: 100%;
	 height: 100%;
	 margin:0;
	 padding: 0;
}
.top{
	margin-top:100px;
	text-align: center;
}
#left-side{
	 display: none;
	 margin-left:10px;
	 float:left;
	 width:300px;
	 height: 700px;
	 border:1px solid #ccc;
	 overflow-x:hidden;
	 overflow-y:auto;
}
#left-side ul{
	 list-style: none;
	 width: 100%;
	 height: auto;
	 padding: 0;
}
#left-side ul li{
	 left:0;
	 width:100%;
	 height:auto;
	 padding-left:20px;
	 padding-right:20px;
}
#left-side ul li p:first-child{
   color:#aaa;
	 font-family: sans-serif;
	 font-size:12px;
}
#left-side ul li p:last-child{
	width:100%
	font-family: sans-serif;
	font-size: 18px;
	color:#555;
	padding:5px;
	word-wrap: break-word;
}
#map{
	float: left;
	margin-left:10px;
	width: 100%;
	height: 700px;
}
